/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

#navbar a:hover {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  background-color: #0b7dda;
  /* font-weight: bold; */
}

#navbar b {
  float: left;
  display: flex;
  color: #f2f2f2;
  /* justify-content: center; */
  margin: auto;
  padding: 20px;
  font-weight: normal;
}

/* Page content */
.content {
  padding: 16px;
  /* margin-bottom: 20px; */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* button {
  justify-content: center;
} */

.btn {
  float: right;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 21px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: #2196f3;
}

.btn:hover {
  background: #0b7dda;
}

.center {
  margin: auto;
}

.title {
  box-sizing: border-box;
  width: 200px;
  height: auto;
  background-color: white;
  position: fixed; /* Sit on top of the screen */
  left: 50%;
  top: 7.5px;
  margin-left: -100px;
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 12px; /* Padding */
  z-index: 10; /* Add a z-index if needed */
  border-radius: 5px;
}
